@page "/smartphones"
@using TechStore.Blazor.DtoModels.SmartPhone
@using TechStore.Blazor.Interfaces
@inject ISmartPhoneApi SmartPhoneApi
@inject IDialogService DialogService


<MudGrid>
    <MudContainer Class="mt-auto d-flex justify-space-between align-center"
                  Style="padding: 20px; background-color: white; margin: 0 auto; margin-bottom: 1px; width: 100%; position: relative;">
        <MudText Typo="Typo.h5" Color="Color.Dark" Style="font-weight: 600;">Հեռախոսներ</MudText>

        <MudButton Variant="Variant.Filled"
                   Color="Color.Success"
                   OnClick="NavigateToCreatePage"
                   StartIcon="@Icons.Material.Filled.Add">
            Ավելացնել Հեռախոս
        </MudButton>
    </MudContainer>

    <MudContainer Class="d-flex justify-space-between align-center"
                  Style="padding: 16px; background-color: white; margin: 0 auto; margin-bottom: 1px; width: 100%; position: relative;">
        @if (isLoading)
        {
            <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
        }
        else if (SmartPhones.Count == 0)
        {
            <p>Հեռախոսներ չկան</p>
        }
        else
        {
            <MudDataGrid Items="@SmartPhones"
                         Style="width: 100%;"
                         Filterable="false"
                         SortMode="@SortMode.None"
                         Groupable="false">
                <Columns>
                    <PropertyColumn Property="x => x.Id"
                                    Title="Համար"
                                    HeaderStyle="font-weight: 600;" />
                    <PropertyColumn Property="x => x.Name"
                                    Title="Անուն"
                                    HeaderStyle="font-weight: 600;" />
                    <PropertyColumn Property="x => x.Price"
                                    Title="Գին"
                                    HeaderStyle="font-weight: 600;" />
                    <PropertyColumn Property="x => x.IsAvailable"
                                    Title="Առկա է"
                                    HeaderStyle="font-weight: 600;" />
                    <PropertyColumn Property="x => x.CategoryId"
                                    Title="Կատեգորիայի Համար"
                                    HeaderStyle="font-weight: 600;" />
                    <PropertyColumn Property="x => x.OSId"
                                    Title="Օպերացիոն Համակարգի Համար"
                                    HeaderStyle="font-weight: 600;" />
                    <PropertyColumn Property="x => x.Processor"
                                    Title="Պրոցեսոր"
                                    HeaderStyle="font-weight: 600;" />
                    <PropertyColumn Property="x => x.CameraMegaPixel"
                                    Title="Տեսախցիկի Փիքսելներ"
                                    HeaderStyle="font-weight: 600;" />
                    <PropertyColumn Property="x => x.RamId"
                                    Title="Օպերատիվ Հիշողության Համար"
                                    HeaderStyle="font-weight: 600;" />
                    <PropertyColumn Property="x => x.ColorId"
                                    Title="Գույնի Համար"
                                    HeaderStyle="font-weight: 600;" />
                    <PropertyColumn Property="x => x.MemoryId"
                                    Title="Հիշողության Համար"
                                    HeaderStyle="font-weight: 600;" />
                    <PropertyColumn Property="x => x.ModelId"
                                    Title="Մոդելի Համար"
                                    HeaderStyle="font-weight: 600;" />
                    <PropertyColumn Property="x => x.BrandId"
                                    Title="Բրենդի Համար"
                                    HeaderStyle="font-weight: 600;" />
                    <PropertyColumn Property="x => x.BatteryCapacity"
                                    Title="Մարտկոցի Հզորություն"
                                    HeaderStyle="font-weight: 600;" />
                    <PropertyColumn Property="x => x.Has5G"
                                    Title="5G Ցանց"
                                    HeaderStyle="font-weight: 600;" />
                    <PropertyColumn Property="x => x.Wifi"
                                    Title="WiFi Ցանց"
                                    HeaderStyle="font-weight: 600;" />
                    <PropertyColumn Property="x => x.IsWaterResistant"
                                    Title="Ջրակայունություն"
                                    HeaderStyle="font-weight: 600;" />
                    <TemplateColumn Title="Նկարների հղումներ"
                                    HeaderStyle="font-weight: 600;">
                        <CellTemplate>
                            @if (context.Item.ImagesUrls != null && context.Item.ImagesUrls.Any())
                            {
                                <ul>
                                    @foreach (var url in context.Item.ImagesUrls)
                                    {
                                        <li><a href="@url" target="_blank">@url</a></li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <em>Ոչ մի նկար չկա</em>
                            }
                        </CellTemplate>
                    </TemplateColumn>
                    <PropertyColumn Property="x => x.ScreenSize"
                                    Title="Էկրանի Չափս"
                                    HeaderStyle="font-weight: 600;" />
                    <TemplateColumn Title="Գործողություններ"
                                    HeaderStyle="font-weight: 600;"
                                    CellStyle="vertical-align: bottom; height: 100%;">
                        <CellTemplate>
                            <div style="display: flex; gap: 8px; align-items: flex-end; height: 100%;">
                                <MudButton OnClick="@(() => OpenEditPage(context.Item))"
                                           Size="Size.Small"
                                           Variant="Variant.Filled"
                                           Color="Color.Primary">
                                    Փոփոխել
                                </MudButton>
                                <MudButton OnClick="@(() => ShowDeleteConfirmation(context.Item.Id))"
                                           Size="Size.Small"
                                           Variant="Variant.Filled"
                                           Color="Color.Error">
                                    Ջնջել
                                </MudButton>
                            </div>
                        </CellTemplate>
                    </TemplateColumn>

                </Columns>
            </MudDataGrid>
        }
    </MudContainer>
</MudGrid>
@code {
    [Inject] private NavigationManager Nav { get; set; } = default!;
    private bool isLoading = true;
    public List<SmartPhoneDto> SmartPhones { get; set; } = new List<SmartPhoneDto>();

    override protected async Task OnInitializedAsync()
    {
        SmartPhones = (await SmartPhoneApi.GetSmartPhones()).ToList();
        isLoading = false;
    }

    private void OpenEditPage(SmartPhoneDto smartPhoneDto)
    {
        if (smartPhoneDto == null)
        {
            return;
        }
        Nav.NavigateTo($"smartphones/edit/{smartPhoneDto.Id}");
    }


    private async Task ShowDeleteConfirmation(int id)
    {
        bool? result = await DialogService.ShowMessageBox(
            "Հաստատում",
            "Դուք համոզվա՞ծ եք, որ ցանկանում եք ջնջել այս հեռախոսը",
            yesText: "Ջնջել",
            cancelText: "Չեղարկել");

        if (result == true)
        {
            await DeleteAsync(id);
        }
    }

    private async Task DeleteAsync(int id)
    {
        await SmartPhoneApi.Delete(id);
        SmartPhones = (await SmartPhoneApi.GetSmartPhones()).ToList();
    }

    private void NavigateToCreatePage()
    {
        Nav.NavigateTo("smartphones/create");
    }
}