@page "/SmartPhonesPage"
<h3>SmartPhonesPage</h3>
@using TechStore.Blazor.DtoModels.SmartPhone
@using TechStore.Blazor.Interfaces
@inject ISmartPhoneApi SmartPhoneApi
@inject IDialogService DialogService


    <div class="mt-5">
        <MudButton Variant="Variant.Filled"
                   Color="Color.Success"
                   OnClick="NavigateToCreatePage"
                   StartIcon="@Icons.Material.Filled.Add">
            Ավելացնել Հեռախոս
        </MudButton>
    </div>
@if (isLoading)
{
    <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
}
else if (SmartPhones.Count == 0)
{
    <p>Հեռախոսներ չկան</p>
}
else
{
    <MudDataGrid Items="@SmartPhones" Filterable="false" SortMode="@SortMode.None" Groupable="false">
        <Columns>
            <PropertyColumn Property="x => x.Id" />
            <PropertyColumn Property="x => x.Name" />
            <PropertyColumn Property="x => x.Price" />
            <PropertyColumn Property="x => x.IsAvailable" />
            <PropertyColumn Property="x => x.CategoryId" />
            <PropertyColumn Property="x => x.OSId" />
            <PropertyColumn Property="x => x.Processor" />
            <PropertyColumn Property="x => x.CameraMegaPixel" />
            <PropertyColumn Property="x => x.RamId" />
            <PropertyColumn Property="x => x.ColorId" />
            <PropertyColumn Property="x => x.MemoryId" />
            <PropertyColumn Property="x => x.ModelId" />
            <PropertyColumn Property="x => x.BrandId" />
            <PropertyColumn Property="x => x.BatteryCapacity" />
            <PropertyColumn Property="x => x.Has5G" />
            <PropertyColumn Property="x => x.Wifi" />
            <PropertyColumn Property="x => x.IsWaterResistant" />
            <PropertyColumn Property="x => x.IsAvailable" />
            <TemplateColumn Title="Images">
                <CellTemplate>
                    @if (context.Item.ImagesUrls != null && context.Item.ImagesUrls.Any())
                    {
                        <ul>
                            @foreach (var url in context.Item.ImagesUrls)
                            {
                                <li><a href="@url" target="_blank">@url</a></li>
                            }
                        </ul>
                    }
                    else
                    {
                        <em>Ոչ մի նկար չկա</em>
                    }
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.ScreenSize" />
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudStack Row>
                        <MudButton OnClick="@(() => OpenEditPage(context.Item))"
                                   Size="@Size.Small"
                                   Variant="@Variant.Filled"
                                   Color="@Color.Primary">
                            Փոփոխել
                        </MudButton>
                        <MudButton OnClick="@(() => ShowDeleteConfirmation(context.Item.Id))"
                                   Size="@Size.Small"
                                   Variant="@Variant.Filled"
                                   Color="@Color.Error">
                            Ջնջել
                        </MudButton>
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
}
@code {
    [Inject] private NavigationManager Nav { get; set; } = default!;
    private bool isLoading = true;
    public List<SmartPhoneDto> SmartPhones { get; set; } = new List<SmartPhoneDto>();

    override protected async Task OnInitializedAsync()
    {
        SmartPhones = (await SmartPhoneApi.GetSmartPhones()).ToList();
        isLoading = false;
    }

    private void OpenEditPage(SmartPhoneDto smartPhoneDto)
    {
        if (smartPhoneDto == null)
        {
            return;
        }
        Nav.NavigateTo($"/SmartPhonesPage/SmartPhoneEditPage/{smartPhoneDto.Id}");
    }


    private async Task ShowDeleteConfirmation(int id)
    {
        bool? result = await DialogService.ShowMessageBox(
            "Հաստատում",
            "Դուք համոզված եք, որ ցանկանում եք ջնջել այս հեռախոսը?",
            yesText: "Ջնջել",
            cancelText: "Չեղարկել");

        if (result == true)
        {
            await DeleteAsync(id);
        }
    }

    private async Task DeleteAsync(int id)
    {
        await SmartPhoneApi.Delete(id);
        SmartPhones = (await SmartPhoneApi.GetSmartPhones()).ToList();
    }

    private void NavigateToCreatePage()
    {
        Nav.NavigateTo("/SmartPhonesPage/SmartPhoneCreatePage");
    }
}