@page "/MemoriesPage"
@using TechStore.Blazor.DtoModels.Memory
@using TechStore.Blazor.Interfaces
<h3>MemoriesPage</h3>
@inject IMemoryApi MemoryApi
@inject IDialogService DialogService

    <div class="mt-5">
        <MudButton Variant="Variant.Filled"
                   Color="Color.Success"
                   OnClick="NavigateToCreatePage"
                   StartIcon="@Icons.Material.Filled.Add">
            Ավելացնել Հիշողություն
        </MudButton>
    </div>
@if (isLoading)
{
    <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
}
else if (Memories.Count == 0)
{
    <p>Ռամեր չկան</p>
}
else
{
    <MudDataGrid Items="@Memories" Filterable="false" SortMode="@SortMode.None" Groupable="false">
        <Columns>
            <PropertyColumn Property="x => x.Id" />
            <PropertyColumn Property="x => x.Size" />
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudStack Row>
                        <MudButton OnClick="@(() => OpenEditPage(context.Item))"
                                   Size="@Size.Small"
                                   Variant="@Variant.Filled"
                                   Color="@Color.Primary">
                            Փոփոխել
                        </MudButton>
                        <MudButton OnClick="@(() => ShowDeleteConfirmation(context.Item.Id))"
                                   Size="@Size.Small"
                                   Variant="@Variant.Filled"
                                   Color="@Color.Error">
                            Ջնջել
                        </MudButton>
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
}
@code {
    [Inject] private NavigationManager Nav { get; set; } = default!;
    private bool isLoading = true;
    public List<MemoryDto> Memories { get; set; } = new List<MemoryDto>();

    override protected async Task OnInitializedAsync()
    {
        Memories = (await MemoryApi.GetMemories()).ToList();
        isLoading = false;
    }

    private void OpenEditPage(MemoryDto memoryDto)
    {
        if (memoryDto == null)
        {
            return;
        }
        Nav.NavigateTo($"/MemoriesPage/MemoryEditPage/{memoryDto.Id}");
    }


    private async Task ShowDeleteConfirmation(int id)
    {
        bool? result = await DialogService.ShowMessageBox(
            "Հաստատում",
            "Դուք համոզված եք, որ ցանկանում եք ջնջել այս հիշողությունը?",
            yesText: "Ջնջել",
            cancelText: "Չեղարկել");

        if (result == true)
        {
            await DeleteAsync(id);
        }
    }

    private async Task DeleteAsync(int id)
    {
        await MemoryApi.DeleteMemory(id);
        Memories = (await MemoryApi.GetMemories()).ToList();
    }

    private void NavigateToCreatePage()
    {
        Nav.NavigateTo("/MemoriesPage/MemoryCreatePage");
    }
}