@page "/OSesPage"
@using TechStore.Blazor.DtoModels.OS
@using TechStore.Blazor.Interfaces
<h3>OSesPage</h3>
@inject IOSApi OSApi
@inject IDialogService DialogService

    <div class="mt-5">
        <MudButton Variant="Variant.Filled"
                   Color="Color.Success"
                   OnClick="NavigateToCreatePage"
                   StartIcon="@Icons.Material.Filled.Add">
            Ավելացնել ՕՀ
        </MudButton>
    </div>
@if (isLoading)
{
    <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
}
else if (OSes.Count == 0)
{
    <p>ՕՀ-ներ չկան</p>
}
else
{
    <MudDataGrid Items="@OSes" Filterable="false" SortMode="@SortMode.None" Groupable="false">
        <Columns>
            <PropertyColumn Property="x => x.Id" />
            <PropertyColumn Property="x => x.Name" />
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudStack Row>
                        <MudButton OnClick="@(() => OpenEditPage(context.Item))"
                                   Size="@Size.Small"
                                   Variant="@Variant.Filled"
                                   Color="@Color.Primary">
                            Փոփոխել
                        </MudButton>
                        <MudButton OnClick="@(() => ShowDeleteConfirmation(context.Item.Id))"
                                   Size="@Size.Small"
                                   Variant="@Variant.Filled"
                                   Color="@Color.Error">
                            Ջնջել
                        </MudButton>
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
}
@code {
    [Inject] private NavigationManager Nav { get; set; } = default!;
    private bool isLoading = true;
    public List<OSDto> OSes { get; set; } = new List<OSDto>();

    override protected async Task OnInitializedAsync()
    {
        OSes = (await OSApi.GetOSes()).ToList();
        isLoading = false;
    }

    private void OpenEditPage(OSDto osDto)
    {
        if (osDto == null)
        {
            return;
        }
        Nav.NavigateTo($"/OSesPage/OSEditPage/{osDto.Id}");
    }


    private async Task ShowDeleteConfirmation(int id)
    {
        bool? result = await DialogService.ShowMessageBox(
            "Հաստատում",
            "Դուք համոզված եք, որ ցանկանում եք ջնջել այս ՕՀ-ն?",
            yesText: "Ջնջել",
            cancelText: "Չեղարկել");

        if (result == true)
        {
            await DeleteAsync(id);
        }
    }

    private async Task DeleteAsync(int id)
    {
        await OSApi.DeleteOS(id);
        OSes = (await OSApi.GetOSes()).ToList();
    }

    private void NavigateToCreatePage()
    {
        Nav.NavigateTo("/OSesPage/OSCreatePage");
    }
}
