@page "/RamsPage"
@using TechStore.Blazor.DtoModels.Ram
@using TechStore.Blazor.Interfaces
<h3>RamsPage</h3>
@inject IRamApi RamApi
@inject IDialogService DialogService


    <div class="mt-5">
        <MudButton Variant="Variant.Filled"
        Color="Color.Success"
        OnClick="NavigateToCreatePage"
        StartIcon="@Icons.Material.Filled.Add">
            Ավելացնել Ռամ
        </MudButton>
    </div>
@if (isLoading)
{
    <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
}
else if (Rams.Count == 0)
{
    <p>Ռամեր չկան</p>
}
else
{
    <MudDataGrid Items="@Rams" Filterable="false" SortMode="@SortMode.None" Groupable="false">
        <Columns>
            <PropertyColumn Property="x => x.Id" />
            <PropertyColumn Property="x => x.Size" />
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudStack Row>
                        <MudButton OnClick="@(() => OpenEditPage(context.Item))"
                        Size="@Size.Small"
                        Variant="@Variant.Filled"
                        Color="@Color.Primary">
                            Փոփոխել
                        </MudButton>
                        <MudButton OnClick="@(() => ShowDeleteConfirmation(context.Item.Id))"
                                   Size="@Size.Small"
                                   Variant="@Variant.Filled"
                                   Color="@Color.Error">
                            Ջնջել
                        </MudButton>
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
}
@code {
    [Inject] private NavigationManager Nav { get; set; } = default!;
    private bool isLoading = true;
    public List<RamDto> Rams { get; set; } = new List<RamDto>();

    override protected async Task OnInitializedAsync()
    {
        Rams = (await RamApi.GetRams()).ToList();
        isLoading = false;
    }

    private void OpenEditPage(RamDto ramDto)
    {
        if (ramDto == null)
        {
            return;
        }
        Nav.NavigateTo($"/RamsPage/RamEditPage/{ramDto.Id}");
    }


    private async Task ShowDeleteConfirmation(int id)
    {
        bool? result = await DialogService.ShowMessageBox(
            "Հաստատում",
            "Դուք համոզված եք, որ ցանկանում եք ջնջել այս ռամը?",
            yesText: "Ջնջել",
            cancelText: "Չեղարկել");

        if (result == true)
        {
            await DeleteAsync(id);
        }
    }

    private async Task DeleteAsync(int id)
    {
        await RamApi.DeleteRam(id);
        Rams = (await RamApi.GetRams()).ToList();
    }

    private void NavigateToCreatePage()
    {
        Nav.NavigateTo("/RamsPage/RamCreatePage");
    }
}

