@page "/colors"
@using TechStore.Blazor.DtoModels.Color
@using TechStore.Blazor.Interfaces
@inject IColorApi ColorApi
@inject IDialogService DialogService

<MudGrid>
    <MudContainer Class="mt-auto d-flex justify-space-between align-center"
                  Style="padding: 20px; background-color: white; margin: 0 auto; margin-bottom: 1px; width: 100%; position: relative;">
        <MudText Typo="Typo.h5" Color="Color.Dark" Style="font-weight: 600;">Գույներ</MudText>

        <MudButton Variant="Variant.Filled"
                   Color="Color.Success"
                   OnClick="NavigateToCreatePage"
                   StartIcon="@Icons.Material.Filled.Add">
            Ավելացնել Գույն
        </MudButton>
    </MudContainer>

    <MudContainer Class="d-flex justify-space-between align-center"
                  Style="padding: 16px; background-color: white; margin: 0 auto; margin-bottom: 1px; width: 100%; position: relative;">
        @if (isLoading)
        {
            <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
        }
        else if (Colors.Count == 0)
        {
            <p>Գույներ չկան</p>
        }
        else
        {
            <MudDataGrid Items="@Colors"
                         Style="width: 100%;"
                         Filterable="false"
                         SortMode="@SortMode.None"
                         Groupable="false">
                <Columns>
                    <PropertyColumn Property="x => x.Id"
                                    Title="Համար"
                                    HeaderStyle="font-weight: 600;" />
                    <PropertyColumn Property="x => x.Name"
                                    Title="Անուն"
                                    HeaderStyle="font-weight: 600;" />
                    <PropertyColumn Property="x => x.HexCode"
                                    Title="Գույնի կոդ"
                                    HeaderStyle="font-weight: 600;" />
                    <TemplateColumn Title="Գործողություններ"
                                    HeaderStyle="font-weight: 600;"
                                    CellStyle="vertical-align: bottom; height: 100%;">
                        <CellTemplate>
                            <div style="display: flex; gap: 8px; align-items: flex-end; height: 100%;">
                                <MudButton OnClick="@(() => OpenEditPage(context.Item))"
                                           Size="Size.Small"
                                           Variant="Variant.Filled"
                                           Color="Color.Primary">
                                    Փոփոխել
                                </MudButton>
                                <MudButton OnClick="@(() => ShowDeleteConfirmation(context.Item.Id))"
                                           Size="Size.Small"
                                           Variant="Variant.Filled"
                                           Color="Color.Error">
                                    Ջնջել
                                </MudButton>
                            </div>
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>
            </MudDataGrid>
        }
    </MudContainer>
</MudGrid>
@code {
    [Inject] private NavigationManager Nav { get; set; } = default!;
    private bool isLoading = true;
    public List<ColorDto> Colors { get; set; } = new List<ColorDto>();
    override protected async Task OnInitializedAsync()
    {
        Colors = (await ColorApi.GetColors()).ToList();
        isLoading = false;
    }

    private void OpenEditPage(ColorDto colorDto)
    {
        if (colorDto == null)
        {
            return;
        }
        Nav.NavigateTo($"colors/edit/{colorDto.Id}");
    }

    private async Task ShowDeleteConfirmation(int id)
    {
        bool? result = await DialogService.ShowMessageBox(
            "Հաստատում",
            "Դուք համոզվա՞ծ եք, որ ցանկանում եք ջնջել այս գույնը",
            yesText: "Ջնջել",
            cancelText: "Չեղարկել");

        if (result == true)
        {
            await DeleteAsync(id);
        }
    }

    private async Task DeleteAsync(int id)
    {
        await ColorApi.DeleteColor(id);
        Colors = (await ColorApi.GetColors()).ToList();
    }

    private void NavigateToCreatePage()
    {
        Nav.NavigateTo("colors/create");
    }
}
