@page "/ColorsPage"
@using TechStore.Blazor.DtoModels.Color
@using TechStore.Blazor.Interfaces
<h3>ColorsPage</h3>
@inject IColorApi ColorApi
@inject IDialogService DialogService

    <div class="mt-5">
        <MudButton Variant="Variant.Filled"
                   Color="Color.Success"
                   OnClick="NavigateToCreatePage"
                   StartIcon="@Icons.Material.Filled.Add">
            Ստեղծել նոր գույն
        </MudButton>
    </div>
@if (isLoading)
{
    <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
}
else if (Colors.Count == 0)
{
    <p>Գույներ չկան</p>
}
else
{
    <MudDataGrid Items="@Colors" Filterable="false" SortMode="@SortMode.None" Groupable="false">
        <Columns>
            <PropertyColumn Property="x => x.Id" />
            <PropertyColumn Property="x => x.Name" />
            <PropertyColumn Property="x => x.HexCode" />
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudStack Row>
                        <MudButton OnClick="@(() => OpenEditPage(context.Item))"
                                   Size="@Size.Small"
                                   Variant="@Variant.Filled"
                                   Color="@Color.Primary">
                            Փոփոխել
                        </MudButton>
                        <MudButton OnClick="@(() => ShowDeleteConfirmation(context.Item.Id))"
                                   Size="@Size.Small"
                                   Variant="@Variant.Filled"
                                   Color="@Color.Error">
                            Ջնջել
                        </MudButton>
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
}
@code {
    [Inject] private NavigationManager Nav { get; set; } = default!;
    private bool isLoading = true;
    public List<ColorDto> Colors { get; set; } = new List<ColorDto>();
    override protected async Task OnInitializedAsync()
    {
        Colors = (await ColorApi.GetColors()).ToList();
        isLoading = false;
    }

    private void OpenEditPage(ColorDto colorDto)
    {
        if (colorDto == null)
        {
            return;
        }
        Nav.NavigateTo($"/ColorsPage/ColorsEditPage/{colorDto.Id}");
    }

    private async Task ShowDeleteConfirmation(int id)
    {
        bool? result = await DialogService.ShowMessageBox(
            "Հաստատում",
            "Դուք համոզված եք, որ ցանկանում եք ջնջել այս գույնը?",
            yesText: "Ջնջել",
            cancelText: "Չեղարկել");

        if (result == true)
        {
            await DeleteAsync(id);
        }
    }

    private async Task DeleteAsync(int id)
    {
        await ColorApi.DeleteColor(id);
        Colors = (await ColorApi.GetColors()).ToList();
    }

    private void NavigateToCreatePage()
    {
        Nav.NavigateTo("/ColorsPage/ColorCreatePage");
    }
}
